html{
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
    font-size: 16px;
}
*,
*::after,
*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
a{
    color: #01579b;
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
#header{
    height: auto;
    background-color: #2c5e78;
}
#header > h1{
    margin: 2rem;
    text-align: center;
    color: #ffffff;
}
#header ul li{
    list-style: none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: #ffffff;
    letter-spacing: 2px;
    border-left: 1px solid #2c5e78;
    border-right: 1px solid #2c5e78;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    transition: all .2s;
}
#header ul > li:hover{
    background-color: #3b81a7;
}
#header ul li.isactive{
    background-color: #ffffff;
    color: #2c5e78;
}
hr{
    border: thin solid #2c5e78;
    margin: 3rem auto;
    width: 90%;
}
.site{
    margin: 1rem auto;
    padding: 1rem;
    max-width: 50%;
    text-align: center;
}
.post{
    margin: 2.5rem auto;
    padding: 1rem;
    border-radius: .5rem;
    max-width: 80%;
    text-align: center;
    background-color: #eceff1;
}
.post-author img{
    border-radius: 50%;
}
.post-date{
    margin: 1rem auto;
    display: block;
}
.post-excerpt,
.post-categories,
.post-tags,
.post-content{
    text-align: left;
}
.post-content summary{
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
.post-content > article{
    padding: 1rem;
    background-color: #e3f2fd;
}
.post-content img{
    display: block;
    margin: auto;
}
#loader{
    width: 10rem !important;
    height: 10rem !important;
    margin: 0 auto;
    filter: invert(1);
    padding-top: 5rem;
}


/* Estilos del Navbar */
.navbar-brand {
    font-weight: bold;
    font-size: 1.5em;
}

.nav-link {
    font-size: 1.2em;
}

.menu-icon {
    font-size: 1.5em;
}

/* Estilos de las tarjetas de noticias */
.news-card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.news-card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em 1em;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
    font-weight: bold;
}

.news-title {
    font-size: 1.2em;
}

.news-date {
    font-size: 0.9em;
    color: gray;
}

.news-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.news-description {
    font-size: 1em;
    color: #555;
    background-color: #f0f0f0;
    padding: 0.5em;
    border-radius: 5px;
    margin-top: 0.5em;
}

/* Estilo de botón Resumen */
.btn-resumen {
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    margin-top: 1em;
    border-radius: 10px;
}

/* Estilos de modal de noticia */

.modal-dialog{
    max-width: 50rem !important;
}